<div>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo"><img src="../assets/images/avatar.jpg" alt="logo"></div>
            <li><a href="#about">.about()</a></li>
            <li><a href="#experience">.experience()</a></li>
            <li><a href="#projects">.projects()</a></li>
            <li><a href="#contact">.contact()</a></li>
        </ul>
    </nav>
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <div class="image"><img src="../assets/images/image2.jpeg" alt="image"></div>
                <div class="typewriter">
                    <h2 class="h2 title">Avinash Kumar Singh</h2>
                </div>
                <p class="category text-white">Tech Enthusiast | Full Stack Dev | Web app Development </p>
                <a href="#contact" class="btn btn-primary">Get in touch</a>
                <a href="" class="btn btn-primary">Resume</a>
            </div>
        </div>
    </section>
   
    <div class="button-container">
        <div class="social_icons">
            <a href="" class="btn btn-default btn-round btn-lg btn-icon gap f_facebook">
                <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
            <a href="" class="btn btn-default btn-round btn-lg btn-icon gap instagram">
                <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
            <a href="" class="btn btn-default btn-round btn-lg btn-icon gap linkedin">
                <i aria-hidden="true" class="fa fa-linkedin"></i>
            </a>
            <a href="" class="btn btn-default btn-round btn-lg btn-icon gap github">
                <i aria-hidden="true" class="fa fa-google-plus"></i>
            </a>
        </div>
    </div>
</div>

<div>
    <div class="section" id="about">
        <div class="container">
            <div class="row" style="background-color: #100f0f;color:white;margin-bottom: 0px;">
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="h3 mt-0 title titlee">About</div>
                    <p>Hi 👋 I'm 
                        <strong>
                            Avinash
                        </strong>
                            , Experienced Software Engineer with expertise in versatile technologies involving in Full- stack development and automation . I build Sites , Apps , Teach aspiring developers and a work in progress. 
                    </p>
                    <p _ngcontent-eus-c3=""> Constantly Embracing new Techs and Jack of all Trades is what i beleive in. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="titlee h4 mt-0 title">Basic Information</div>
                    <div class="aboutcss" style="margin-top:7%">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <i class="fa fa-calendar-o" style="font-size: 27px;">
                                        <p class="icondetail">24 September, 1997</p>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <i class="fa fa-envelope" style="font-size: 27px;">
                                        <p class="icondetail" style="font-size: 16px;">avinashsingh93084@gmail.com</p>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <i class="fa fa-phone" style="font-size: 27px;">
                                        <p class="icondetail">+91 9304391665</p>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <i class="fa fa-map-marker" style="font-size: 27px;">
                                        <p class="icondetail">Noida,India</p>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <i class="fa fa-language" style="font-size: 27px;">
                                        <p class="icondetail">English,Hindi</p>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
    