<div>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo"><img src="../assets/images/avatar.jpg" alt="logo"></div>
            <li><a href="#about">.about()</a></li>
            <li><a href="#experience">.experience()</a></li>
            <li><a href="#projects">.projects()</a></li>
            <li><a href="#contact">.contact()</a></li>
        </ul>
    </nav>
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <div class="image"><img src="../assets/images/image2.jpeg" alt="image"></div>
                <div class="typewriter">
                    <h2 class="h2 title">Avinash Kumar Singh</h2>
                </div>
                <p class="category text-white">Tech Enthusiast | Full Stack Dev | Web app Development </p>
                <a href="#contact" class="btn btn-primary">Get in touch</a>
                <a href="" class="btn btn-primary">Resume</a>
            </div>
        </div>
    </section>
   
    <div class="button-container">
        <div class="social_icons">
            <a href="" class="btn btn-default btn-round btn-lg btn-icon gap f_facebook">
                <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
            <a href="" class="btn btn-default btn-round btn-lg btn-icon gap instagram">
                <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
            <a href="" class="btn btn-default btn-round btn-lg btn-icon gap linkedin">
                <i aria-hidden="true" class="fa fa-linkedin"></i>
            </a>
            <a href="" class="btn btn-default btn-round btn-lg btn-icon gap github">
                <i aria-hidden="true" class="fa fa-github "></i>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
    