*{
    margin: 0;
    padding: 0;
}

.nav-list{
display: flex;
width: 50%;
align-items: center;

}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}

.image img{
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 9999;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.logo img{
    width:50%;
    border:3px solid black;
    border-radius: 50px;
    
}

.nav-list li{
list-style: none;
padding: 26px 30px;

}
.nav-list li a{
    text-decoration: none;
     color: white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
}
.nav-list li a:hover{
text-decoration: none;
color: grey;
}

.background{
    background:rgba(0,0,0,0.7)
    url('../assets/images/intro.jpg');
    background-size: cover;
    background-blend-mode: darken;
    position:sticky;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
}

.firstSection{
    height: 100vh;
    text-align: center;
}
.typewriter{
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto 20px;
    /* letter-spacing: .15em; */
    -webkit-animation: 10s steps(30,end) typing,.5s step-end blink-caret;
    animation: 10s steps(30,end) typing,.5s step-end blink-caret;
}

.title{
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
}
 .h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
h2 {
    display: block;
    
   
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.category {
    text-transform: uppercase;
    font-weight: 700;
    color: #9A9A9A;
}
.btn{
    /* width:140px;
    border-width: 2px;
    font-weight: 400;
    font-size: 0.8571em;
    line-height: 1.35em;
    margin: 5px 1px;
    border: none;
    border-radius: 0.1875rem;
    padding: 11px 22px;
    cursor: pointer; */
    border-width: 2px;
    font-weight: 400;
    font-size: 0.8571em;
    line-height: 1.35em;
    margin: 5px 1px;
    border: none;
    border-radius: 0.1875rem;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #00334D;
    color: #FFFFFF;
}
.btn-primary {
    background-color: #00334D;
    color: #FFFFFF;
}
.button-container {
    text-align: center;
    margin-top: 10px;
    align-items: center;
    box-sizing: inherit;
}
.container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;

}
.btn-icon.btn-lg {
    height: 3.6rem;
    min-width: 3.6rem;
    width: 3.6rem;
    font-size: 1.325rem;
}
.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 11px 23px;
}
.button-container .btn-default {
    margin-right: 8px;
}

.icondetail{
    font-size: 18px;
    color: #fff;
    margin-left: 30px;
}
p{
    line-height: 1.61em;
}
.section{
    padding-bottom: 0;
    padding: 70px 0;
    position: relative;
    background-color: #100f0f;
}

.card-body{
    min-height:190px;
}
.title{
    font-weight: 700;
}
.titlee{
    color:#09c;
}

h3,.h3{
font-size: 2em;
margin-bottom: 30px;
line-height: 1.4em;
}
